
<li>
	{{this.name}}

	<button class="eat-burger" data-id="{{this.id}}" data-newsleep="{{this.devoured}}">
		{{#if devoured}}EAT BURGER!{{else}}RE-SERVE BURGER!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">REMOVE BURGER!</button>
</li>